<section>
    <h2>Вход</h2>
    <form>
        <tui-input 
            formControlName="companyName"
            [tuiTextfieldLabelOutside]="true"
        >
            Компания
            <input
                tuiTextfield
                type="text"
            />
        </tui-input>
        <tui-input 
            formControlName="companyName"
            [tuiTextfieldLabelOutside]="true"
        >
            Компания
            <input
                tuiTextfield
                type="text"
            />
        </tui-input>
    </form>
</section>