<tui-root>
<section class="notifications">
    <header class="notifications__header">
        <a tuiIconButton  class="notifications-button" icon="tuiIconArrowLeftLarge" routerLink=".." appearance="bn-icon-button"></a>
        <span>Уведомления</span>
    </header>
    <div class="base-container">
        <ng-container *ngIf="hasNotifications$ | async; else noNotifications">
            <ul class="notifications-list">
                <ng-container *ngIf="notificationsService.getVacationsRequestNotifications() | async as notifications" >
                    <li class="notifications-item" *ngFor="let notification of notifications; trackBy: trackByFn" highlight >
                        <app-notifications-item [notification]="notification" notificationLabel="Заявление на отпуск" type="vacation"/>
                    </li>
                </ng-container>

                <ng-container *ngIf="notificationsService.getJoinRequestNotifications() | async as notifications">
                    <li  class="notifications-item" *ngFor="let notification of notifications; trackBy: trackByFn" highlight>
                        <app-notifications-item [notification]="notification" notificationLabel="Заявление на вступление" type="join"/>
                    </li>
                </ng-container>

                <ng-container *ngIf="notificationsService.getCompensationsRequestNotifications() | async as notifications">
                    <li class="notifications-item" *ngFor="let notification of notifications; trackBy: trackByFn" highlight >
                        <app-notifications-item [notification]="notification" notificationLabel="Заявление на отгул" type="compensation"/>
                    </li>
                </ng-container>
            </ul>
        </ng-container>

        <ng-template #noNotifications>
            <div class="notifications__empty">
                <p>У вас пока нет уведомлений</p>
            </div>
        </ng-template>
    </div>
</section>
</tui-root>



