<section class="notifications">
    <header class="notifications__header">
        <p>Уведомления</p>
    </header>
    <div class="base-container">

        <ul>
            <ng-container *ngIf="notificationsService.getVacationsRequestNotifications() | async as notifications">
                <li *ngFor="let notification of notifications" >
                    <app-notifications-item [notification]="notification" notificationLabel="Заявление на отпуск" type="vacation"/>
                </li>
            </ng-container>

            <ng-container *ngIf="notificationsService.getJoinRequestNotifications() | async as notifications">
                <li *ngFor="let notification of notifications" >
                    <app-notifications-item [notification]="notification" notificationLabel="Заявление на вступление в отдел" type="join"/>
                </li>
            </ng-container>

            <ng-container *ngIf="notificationsService.getCompensationsRequestNotifications() | async as notifications">
                <li *ngFor="let notification of notifications" >
                    <app-notifications-item [notification]="notification" notificationLabel="Заявление на отгул" type="compensation"/>
                </li>
            </ng-container>
        </ul>

    </div>
</section>



