.tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #fff;
}

.tab-bar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.tab-bar__item a {
    display: block;
    padding: 10px;
}

.tab-bar__item.active img {
    filter: invert(65%) sepia(49%) saturate(773%) hue-rotate(172deg) brightness(104%) contrast(96%);
}
