<div class="tab-bar">
    <ng-container *ngFor="let tab of tabs">
        <div class="tab-bar__item" [ngClass]="{'active': tab.isActive}">
            @if(tab.title === 'Planner') {
                <button
                    tuiButton
                    type="button"
                    [tuiDropdown]="dropdownContent"
                    [tuiDropdownManual]="open"
                    tuiDropdownAlign="center"
                    tuiDropdownDirection="top"
                    (click)="onClick(tab)"
                    (tuiActiveZoneChange)="onActiveZone($event)"
                    (tuiObscured)="onObscured($event)"
                >
                    hehe
                </button>
            } @else {
                <a [routerLink]="tab.path" (click)="onClick(tab)">
                    <img [src]="tab.icon" [alt]="tab.title">
                 </a>
            }
        </div>
    </ng-container>
</div>

<ng-template #dropdownContent>
    <app-vacation-request />
</ng-template>
