<div class="tab-bar">
    <ng-container *ngFor="let tab of tabs">
        <div class="tab-bar__item" [ngClass]="{'active': tab.isActive}">
            @if(tab.title === 'Planner') {
                    <img [src]="tab.icon" alt="assets/tabbar-icons/planner.svg"
                         [tuiDropdown]="dropdownContent"
                         [tuiDropdownManual]="open"
                         tuiDropdownAlign="center"
                         tuiDropdownDirection="top"
                         (click)="onClick(tab)"
                         (tuiObscured)="onObscured($event)"
                    >
            } @else {
                <a [routerLink]="tab.path" (click)="onClick(tab)">
                    <img [src]="tab.icon" [alt]="tab.title">
                </a>
            }
        </div>
    </ng-container>
</div>

<ng-template #dropdownContent>
    <app-vacation-request (_changeState)="changeState($event)"/>
</ng-template>



