.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--main-font);
    font-weight: 500;

    h2 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    .profile__edit-button {
        color: var(--tui-primary)
    }
}

.user-edit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    max-width: 350px;
}
