@forward '../../../modules/common/styles/auth-form';

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: var(--main-font);
    font-weight: 500;

    .profile__edit-button {
        color: var(--tui-primary)
    }
}

.user-edit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 24px;

    width: 100%;
}
