.company {
    font: var(--main-font)
}

.company__header {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
}

.ceo__avatar {
    
}