<section class="company" *ngIf="company">
    <header class="company__header">
        {{company.name}}
    </header>
    <main class="base-container">
        <div class="company__ceo">
            <tui-avatar [rounded]="true" text="{{ceo.fullName}}" class="ceo__avatar" size="l"/>
            <div class="company__ceo-info">
                <p>{{ceo.fullName}}</p>
                <span>CEO</span>
            </div>
        </div>
        <tui-accordion appearance="bn-accordion" class="company__departments">
                <tui-accordion-item [borders]='null' *ngFor="let department of company.departments">
                    <div class="company__department-info">
                        <p>{{department}} отдел</p>
                        <span>{{(users | filterByDepartment:department).length | formatEmployees}}</span>
                    </div>
                    <ng-template tuiAccordionItemContent>
                        <div *ngFor="let user of users | filterByDepartment:department" class="company__employee">
                            <tui-avatar [rounded]="true" text="{{user.fullName}}" size="m"/>
                            {{user.fullName}}
                        </div>
                    </ng-template>
                </tui-accordion-item>   
        </tui-accordion>
        <tui-accordion-item [borders]='null' >
            <div class="company__add-department">
                <tui-svg src="tuiIconPlusLarge"></tui-svg>
                Добавить отдел
            </div>
            <ng-template tuiAccordionItemContent>
                <form [formGroup]="addDepartmentForm" class="company__add-department-form">
                    <tui-input class="company__add-department-input" appearance="bn-input" [tuiTextfieldLabelOutside]="true" formControlName="departmentName">
                        Название отдела
                        <input
                            type="text"
                            tuiTextfield
                        />
                    </tui-input>
                    <button tuiButton appearance="bn-button" (click)="addDepartment()" class="company__add-department-button">Добавить</button>
                </form>
            </ng-template>
        </tui-accordion-item> 
    </main>
</section> 