<section class="form-section">
    <h2 class="form-section__title">Вход</h2>
    <form class="auth-form" [formGroup]="authForm" (ngSubmit)="submit">
        <div class="auth-form__inputs-container">
            <tui-input 
                formControlName="email"
                appearance="bn-input"
                [tuiTextfieldLabelOutside]="true"
            >
                Email
                <input
                    tuiTextfield
                    type="email"
                />
            </tui-input>
            <tui-input-password 
                formControlName="password"
                appearance="bn-input"
                [tuiTextfieldLabelOutside]="true"
            >
                Пароль
                <input
                    tuiTextfield
                    appearance="bn-input"
                    type="password"
                />
            </tui-input-password>
        </div>
        @if(error.message) {
            <p class="error">{{error.message}}</p>
        }
        <button 
            tuiButton
            appearance="bn-button"
            (click)="submit()"
            class="auth-form__submit-button"
        >
            Отправить
        </button>
    </form>
</section>