<ng-container *ngIf="notification">

    <ng-container *ngIf="notification.employee as userId; else notificationJoin">
        <div *ngIf="_companyService.getActiveUser(userId) as user" (click)="showDialog(user)">

            <p>{{ user.fullName }}</p>
            <span>{{ notificationLabel }}</span>
            <span>{{ notification.createdAt | formatTime }}</span>

        </div>
    </ng-container>

    <ng-template #notificationJoin>
        <ng-container *ngIf="notification.userId as userId">
            <div *ngIf="_notificationsService.getPendingUser(userId) as user" (click)="showDialog(user)">

                <p>{{ user.fullName }}</p>
                <span>{{ notificationLabel }} </span>
                <span>{{ notification.createdAt | formatTime }}</span>

            </div>
        </ng-container>
    </ng-template>

</ng-container>






