<div>
<!--    <ng-container *ngIf="_companyService.getUser(notificationVacation.employee) as user">-->

<!--        <p>{{user.fullName}}</p>-->
<!--        <span>Заявление об отпуске</span>-->
<!--        <span>{{notificationVacation.createdAt | formatTime}}</span>-->

<!--        <button-->
<!--            size="m"-->
<!--            tuiButton-->
<!--            type="button"-->
<!--            (click)="showDialog()"-->
<!--        >-->
<!--            Show-->
<!--        </button>-->
<!--    </ng-container>-->

    <button
        size="m"
        tuiButton
        type="button"
        (click)="showDialog()"
    >
        Show
    </button>

</div>
