<div class="calendar-day">
    <button 
        class="calendar-day__button" 
        [class.active]="vacations.length"
        [tuiDropdown]="dropdownContent"
        [tuiDropdownManual]="open"
        (click)="onClick()"
        (tuiActiveZoneChange)="onActiveZone($event)"
        (tuiObscured)="onObscured($event)"
    >
        {{day.day}}
    </button>
    <ul class="user-undercolors">
        @for(vacation of vacations; track vacation.user) {
            <li class="user-undercolor" [style.backgroundColor]="generateColorForUser(vacation.user.id)"></li>
        }
    </ul>
</div>

<ng-template #dropdownContent>
    <ul class="users-dropdown">
        @for(vacation of vacations; track vacation.user) {
            <li>
                <span [style.backgroundColor]="generateColorForUser(vacation.user.id)" class="user-color"></span>
                <span class="user-name">{{vacation.user.fullName}}</span>
                <span class="user-vacation">{{vacation.vacationStatus}}</span>
            </li>
        }
    </ul>
</ng-template>