<section class="notification-dialog">
    <div class="notification-dialog__header">
        <tui-avatar
            [text]="user.fullName"
            [rounded]="true"
            [size]="'l'"
        ></tui-avatar>
        <div class="profile-info">
            <h2>{{ user.fullName }}</h2>
            <p>{{ user.companyDepartment || user.companyName }}</p>
        </div>
    </div>

    <div class="notification-dialog__content">
        <div class="request-details">
            <h3>
                @if (_userService.getMeSnapshot().employmentStatus === 'employee') {
                    {{ context.label | formatStatus: notification.missId}}
                } @else {
                    {{ context.label }}
                }
            </h3>

            @if (notificationType === 'vacation') {
                <div class="date-range">
                    <span>{{ notification.startDate! | formatNotificationDate }}</span>
                    <span>—</span>
                    <span>{{ notification.endDate! | formatNotificationDate : true }}</span>
                </div>
            }

            @if (notificationType === 'compensation') {
                <div class="date-range">
                    <span>{{ notification.startDate! | formatNotificationDate : true}}</span>
                </div>
            }
        </div>
    </div>

    <div class="notification-dialog__actions">
        @if (notification.userId === _userService.getMeSnapshot().id || notification.employee === _userService.getMeSnapshot().id) {
            <button 
                tuiButton 
                type="button"
                size="m"
                class="confirm-button"
                (click)="confirm()"
            >
                Прочитано
            </button>
        } @else {
            <button 
                tuiButton 
                type="button"
                size="m"
                class="reject-button"
                (click)="reject()"
            >
                Отказать
            </button>
            <button 
                tuiButton 
                type="button"
                size="m"
                class="approve-button"
                (click)="approve()"
            >
                Одобрить
            </button>
        }
    </div>
</section>


