<section>

    <div class="content">
        <div class="profile__avatar-wrapper">
            <tui-avatar [text]="user.fullName"></tui-avatar>
        </div>

        <p>{{ user.fullName }}</p>


        <p>
            {{ context.label }}
            <ng-container *ngIf="notificationType === 'vacation'">
                {{ notification.startDate }} по {{ notification.endDate }}
            </ng-container>
        </p>


    </div>


    <button size="m" tuiButton type="button" (click)="reject()">
        Отказать
    </button>
    <button size="m" tuiButton type="button" (click)="approve()">
        Одобрить
    </button>


</section>


