<div class="profile" *ngIf="_userService.getMe() | async as user; else thenBlock">
    <header class="profile__header">
        <a tuiButton routerLink="edit">Редактировать</a>
    </header>

    <main class="profile__main">

        <div class="profile__details">
            <div class="profile__avatar-wrapper">
                <tui-avatar [text]="user.fullName"></tui-avatar>
            </div>

            <div class="profile__info">
                <h2>{{ user.fullName }}</h2>
                <p class="company__name">{{ user.companyName }}</p>
                <p *ngIf="user.companyDepartment" class="departament__name">{{ user.companyDepartment }}</p>
                <p class="job__position">{{ user.employmentStatus | positionTransform }}</p>
            </div>
        </div>

        <div class="contact_info">
            <h3>Контактная информация:</h3>
            <p *ngIf="user.phoneNumber">Телефон: <a
                href="tel:{{user.phoneNumber}}"></a>{{ user.phoneNumber | tuiFormatPhone }}</p>
            <p *ngIf="user.telegramUsername">Телеграм: <a
                href="https://t.me/{{user.telegramUsername}}">&commat;{{ user.telegramUsername }}</a></p>
            <p *ngIf="!user.phoneNumber && !user.telegramUsername">Пользователь не предоставил контактную
                информацию</p>
        </div>

        <div class="vacations">
            <h3>Отпуски и отгулы:</h3>
            <!-- Логика позже будет -->
            <p>{{ user.accumulatedVacationDays }} дней накопено</p>
            <p>{{ user.vacationBalance }} начислено</p>
            <p>{{ user.compensationDays }} отгулов в этом году</p>
        </div>

        <div class="vacation-history">
            <h3>История отпусков:</h3>

            <ng-container *ngIf="_userService.getVacations() | async as vacations; else vacationsNotFound">

                <ng-container *ngFor="let vacation of vacations">

                    <div *formatVacationDate="vacation; let duration = vacationDuration; let startDate = startDate; let endDate = endDate">
                        <p class="vacation-duration">{{ duration }} дней</p>
                        <p class="vacation-duration">
                            {{startDate | formatDate : endDate}}
                        </p>

                    </div>

                </ng-container>

            </ng-container>

            <ng-template #vacationsNotFound>
                <p>Нет записей в истории отпусков</p>
            </ng-template>
        </div>




    </main>
</div>

<ng-template #thenBlock>
    <div>
        ошибка баля
        <button tuiButton (click)="reloadPage()">reload</button>
        <button tuiButton (click)="navigateToHome()">navigate to home page</button>
    </div>
</ng-template>



