<div class="profile" *ngIf="_userService.getMe() | async as user">
    <header class="profile__header">
        <a tuiButton routerLink="edit">Редактировать</a>
    </header>

    <main class="profile__main">

        <div class="profile__details">
            <div class="profile__avatar-wrapper">
                <tui-avatar [text]="user.fullName"></tui-avatar>
            </div>

            <div class="profile__info">
                <h2>{{ user.fullName }}</h2>
                <p class="company__name">{{ user.companyName }}</p>
                <p *ngIf="user.companyDepartment" class="departament__name">{{ user.companyDepartment }}</p>
                <p class="job__position">{{ user.employmentStatus | positionTransform }}</p>
            </div>
        </div>

        <div class="contact_info">
            <h3>Контактная информация:</h3>
            <p *ngIf="user.phoneNumber">Телефон: <a
                href="tel:{{user.phoneNumber}}"></a>{{ user.phoneNumber | tuiFormatPhone }}</p>
            <p *ngIf="user.telegramUsername">Телеграм: <a
                href="https://t.me/{{user.telegramUsername}}">&commat;{{ user.telegramUsername }}</a></p>
            <p *ngIf="!user.phoneNumber && !user.telegramUsername">Пользователь не предоставил контактную
                информацию</p>
        </div>

        <div class="vacations">
            <h3>Отпуски и отгулы:</h3>
            <!-- Логика позже будет -->
            <p>{{ user.accumulatedVacationDays }} дней накопено</p>
            <p>{{ user.vacationBalance }} начислено</p>
            <p>{{ user.compensationDays }} отгулов в этом году</p>
        </div>

        <app-vacation-list></app-vacation-list>

    </main>
</div>



