.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    h2 {
        font-family: "Mouse Memoirs";
        font-size: 62px;
        color: #000;
    }
}

.welcome__buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-top: 80px;
}