<section class="vacation-request">
    <h2>Запланировать отпуск</h2>
    <form [formGroup]="vacationForm" class="vacation-request__form">
        <tui-input-date
            [tuiTextfieldLabelOutside]="true"
            formControlName="start"
            [min]="nowDay"
        />
        <tui-input-date
            [tuiTextfieldLabelOutside]="true"
            formControlName="end"
            [min]="nowDay"
            [max]="maxDay"
        />
        <button tuiButton (click)="onSubmit()">
            Запланировать отпуск
        </button>
    </form>
</section>
