.form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header-right {
        width: 24px;
    }
}

.form-section__header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 23px 20px;
    font-size: 24px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-primary);
}

.form-section__title {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-primary);
}

.form-section__back-button {
    margin-right: 20px;
    color: var(--tui-primary)
}

.auth-form {
    margin-top: 35px;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0 40px;
}

.auth-form__role-input {
    background-color: #EBEBEB;
}

.auth-form__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form__submit-button {
    margin-top: 30px;
}

.error {
    margin-top: 5px;
    padding-left: 5px;
    color: rgb(241, 8, 8);
}
